body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
